/* Add a black background color to the top navigation */
html {
    font-family: sans-serif;

}
body {
    background-color: #002E56;
    font-size: 20px;

}
.topnav {
    background-color: #333;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
.topnav a:hover {
    font-weight: 900;
    color: white
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    font-size: 18px;
    font-weight: 900;
    color: white;
  }