html {
    font-family: sans-serif;

}
body {
    background-color: #002E56;
    font-size: 20px;

}
#liicon {
  display: flex;
  margin-top: 8%;
  justify-content: center;
  color: white;
}
#topNav{
    background-color: #50677a;
    width: 100%;
    height: 48px;
    max-height: 64px;
    display: flex;
    align-items: center;
}
#topNav .rightNav{
  display: flex;
  justify-content: flex-end;
}

#topNav a {
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
  }
#topNav a:hover {
    font-weight: 900;
    color: white
  }
#topNav a.active {
    font-size: 18px;
    font-weight: 900;
    color: white;
  }