html {
    font-family: sans-serif;

}
body {
    background-color: #002E56;
    font-size: 20px;

}
#icon-git, #icon-li {
  color: white;
}
#icon-li i:hover{
  color: #0077b5;
}
#icon-git i:hover{
  color: rgb(0, 0, 0);
}