html {
    font-family: sans-serif;

}
body {
    background-color: #50697e;
    font-size: 20px;

}
#icon-git, #icon-li {
  color: white;
}
#icon-li:hover{
  color: #0077b5;
}
.navTabs {
  color: white;

}
.navTabs:hover{
  color: gray;
}

#icon-git:hover{
  color: rgb(0, 0, 0);
}
#Brand {
  font-size: 2em;
  font-weight: 900;
  color: rgb(0, 195, 255);
}
#current{ 
  font-weight: 600;
  color: rgb(104, 170, 255);
}
/*.textField{
  display: flex;
  background-image: transparent url(water.jpg) no-repeat center center;
  background-size: cover;
  font-size: 2em;
  color: white;
  justify-content: center;
  border: black 5px solid;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2em;
  padding-bottom: 2em;
}*/
.textField {
  background-image: url(sky.jpg);
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 200px;
  font-size: 120px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Steelfish Rg', 'helvetica neue',
           helvetica, arial, sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
}