html {
    font-family: sans-serif;

}
body {
    background-color: #aed9ff;
    font-size: 20px;

}
#icon-git, #icon-li {
  color: white;
}
#icon-li:hover{
  color: #0077b5;
}
.navTabs {
  color: white;

}
.navTabs:hover{
  color: gray;
}

#icon-git:hover{
  color: rgb(0, 0, 0);
}
#Brand {
  font-size: 2em;
  font-weight: 900;
  color: rgb(0, 195, 255);
}
#current{ 
  font-weight: 600;
  color: rgb(104, 170, 255);
}
#intro{
  background: transparent url(water.jpg) no-repeat center center;
  background-size: cover;
  font-size: 2em;
  flex: auto;
  color: white;
  justify-content: center;
}